# Sankemake temporary
**/.snakemake

# Miscellaneous
__pycache__
*.synctex.gz
*.ipynb_checkpoints*

# latex
latex/*
!latex/ms.tex
!latex/bib.bib
!latex/*.cls
!latex/*.bst
!latex/*.pdf
!latex/cortex.tex
!latex/gitlinks.tex
.vscode

# workflows
workflows/**/data/**/*.yaml
workflows/**/data/**/*.npy

workflows/toi540_injection_recovery/data/lightcurves
workflows/real_injection_recovery*/data/**/*.npy
workflows/real_injection_recovery*/data/**/*.yaml
workflows/real_injection_recovery*/data/**/*.params
workflows/real_injection_recovery*/data/**/*.fluxes


**/.DS_Store
**npy