# Snakemake and showyourwork temporaries
**/.snakemake
**/.showyourwork*

# Showyourwork output files
/*.pdf
report.html
arxiv.tar.gz

# Figure output
src/tex/figures/*

# Miscellaneous
__pycache__
*.synctex.gz
*.ipynb_checkpoints*

# lgrcia
workflows/synthetic_injection_recovery/data/lightcurves
workflows/synthetic_injection_recovery/data/results/**/*.yaml
workflows/synthetic_injection_recovery/data/params/*.yaml
**/.DS_Store
